<!DOCTYPE html>
<html>
	<%- include('partials/head') %>
	<body>
		<%- include('partials/nav') %>

		<main class="section-container">
			<h1 class="text-4xl">Categories</h1>
			<p class="mt-3">
        Pick your poison (ivy or oak? We prefer organic veggies) with our deliciously categorized options!
			</p>


		</main>

		<%- include('partials/footer') %>
	</body>
</html>
